*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Playfair Display';
  overflow-x: hidden;
}
h1,h2,h3,h3,h4,h5,h6{
  font-family: 'Raleway';
}
.navbar{
  font-family: 'Raleway' !important;
  font-weight: 600;
}
.navbar-brand span{
  letter-spacing: 10px;
  padding-top:35px;
  padding-left: 15px;
}
.bg-dark{
  transition: 600ms ease-in;
  background-color: transparent !important;
}
.bg-dark.scrolled{
  background-color: #EB6536 !important;
}
.header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}
.content {
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}
.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.header-video video {
  min-width: 100%;
  min-height: 100%;
}
.header-content {
  z-index: 2;
  width:100%;
}
.name{
  color:#EB6536;
  font-weight: 700;
}
.profession{
  font-weight:300;
}
.quote{
  font-size:22px !important;
  font-style: italic;
  padding-bottom: 0px !important;
}
.author-quote{
  font-size: 18px !important;
  font-style: italic;
}
.fa-chevron-down{
  font-size:30px;
  margin-top:40px;
  color: rgba(255,255,255,.5);
  transition: 750ms ease-in;
}
.fa-chevron-down:hover{
  color: #EB6536;
}
.portfolio, .image-background{
  min-width:100%;
  min-height: 100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.image-background{
  background-image: url('../assets/sobremi.jpeg');
}
.liner-one{
  border-bottom: 2px solid #EB6536;
  width: 30px;
  height: 5px;
  margin:0 auto;
  display:block;
  margin-bottom: 50px;
}
.title-background-white{
  color:#EB6536;
  margin-top:150px;
  letter-spacing: 10px;
  font-weight: 600;
  text-align: center;
  padding-bottom:5px;
}
.margin-min{
  margin-top: 30px !important;
}
.subtitle-background-white{
  font-family: 'Playfair Display';
  text-align: center;
}
.image-proyect{
  width: 100%;
  margin-top:60px;
}
.title-proyect{
  color:#2C001E;
  text-align: center;
  margin-top:15px;
  font-weight: 600;
}
.description-proyect{
  text-align: center;
}
.btn{
  margin: 20px auto;
  display:block;
}
.about-text{
  color:#fff;
  max-width: 800px;
  margin:30px auto;
  display:block;
  font-family: 'Raleway';
  text-align:center;
  font-size: 20px; 
  padding-bottom:100px;
  
}
.important{
  font-style: italic;
}
.bold{
  color: #EB6536;
  font-weight: 600;
}
.links{
  text-align:center;
  margin-top:50px;
  padding-bottom:100px;
}
.link-about{
  padding: 0 20px;
  color: #212529;
}
.about{
  margin: 50px auto;
}
.btn-width{
  max-width: 350px;
  width:100%;
}
.iconos-box{
max-width: 800px; 
margin:0 auto; 
padding-top: 40px;
}
.iconos{
  text-align:center;
}
.iconos i {
  color: #fff;
  font-size:60px;
  padding: 30px; 
  margin: 0;
  border: 2px #EB6536 outset;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius:50%;
  -o-border-radius: 50%;
}
.skill{
  color:#fff;
  font-family: 'Raleway';
  margin: 35px 0px;
  padding-bottom: 25px;
}
.btn-outline-secondary {
  color: #2C001E !important;
  border-color: #2C001E !important;
}
.btn-outline-secondary:hover {
  color: #fff !important;
  background-color: #2C001E !important;
  border-color: #2C001E !important;
}
/* MEDIA QUERY RESPONSIVE DESIGN*/
@media (max-width: 1400px){
  .portfolio, .image-background {
    height: auto;
}
}
@media (max-width: 960px) {
  .content {
    padding: 0 3rem 0 3rem;
  }
}
@media (max-width: 768px){
  .navbar{
    text-align: center;
    background-color: #EB6536 !important;
  }
  .col-4{
    width:100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-3{
    width:50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .about-text{
    text-align: justify;
    padding: 0 10px;
  }
  .title-background-white{
    margin-top:30px;
  }
  .h2, h2 {
    font-size: 1.5rem !important;
}
.h3, h3{
  font-size: 1.20rem !important;
}
}
@media (max-width: 400px){
  .navbar-brand span{
    letter-spacing: 5px;
  }
  
}
@media (max-width:320px){
  .navbar-brand span{
    letter-spacing: 2px;
   }
}